.__formStyle__ {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 15rem;
}

.__formHeading__ {
  text-align: center;
  font-weight: 900;
  font-size: 2.5rem;
}

.__smallText__ {
  text-align: right;
  opacity: 0.9;
  text-transform: uppercase;
  color: white;
}

.__count__ {
  color: white;
  font-weight: 700;
}
