.__inputStyle__ {
  border: 2px solid #ef476f;
  background-color: transparent;
  outline: none;
  border-radius: 0.4rem;
  color: white;
  padding: 0.6rem 0.9rem;
  font-size: 1.2rem;
  font-weight: 700;
  min-width: 340px;
}

.__inputStyle__::placeholder {
  color: var(--light);
}

.__inputStyle__[type="search"] {
  border: 0;
  border-radius: 0;
  border-bottom: 2px solid #ef476f;
}

.__inputStyle__[type="submit"] {
  cursor: pointer;
}

.__inputStyle__[type="submit"]:hover {
  background-color: var(--primary);
  color: var(--dark);
  font-weight: 700;
}

.textarea {
  height: 10rem;
  resize: none;
}
