@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Baloo Bhai 2", cursive;
  background-color: #4a5759;
  color: white;
}

input,
textarea {
  font-family: "Baloo Bhai 2", cursive;
}
